body{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    background: #d4d4d4;
    height: 100%;
    padding: 0;
    margin: 0;
}

.info{
    display: none;
}

.dialogPanel{
    background: white;
    width: 500px;
    min-height: 100vh;
    margin: 0 auto;
    border: 1px solid #a4a4a4;
    border-top: none;
}

.dialogHeader{
    position: fixed;
    width: 500px;
    z-index: 1;
    background: white;
}

h1, h2{
    text-align: center;
}

h1{
    margin: 0;
    padding: 1rem 0 0.3rem 0;
    font-size: 1.3rem;
}
h2{
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d4d4d4;
    font-size: 1rem;
    color: #636363;
}

#dialogue {
    padding-top: 20%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.userQueryContainer {
    margin: 0.5rem 1rem;
    text-align: right;
}

.userQueryContainer::after{
    content: " ";
    width: 0;
    height: 0;
    display: block;
    position: relative;
    top: 0;
    left: 440px;
    border-left: 14px solid transparent;
    border-right: 0px solid transparent;
    border-top: 10px solid deepskyblue;
}

.apiResponseContainer {
    margin: 0.5rem 1rem;
    text-align: left;
}

.apiResponseContainer::after{
    content: " ";
    width: 0;
    height: 0;
    display: block;
    position: relative;
    top: 0;
    left: 10px;
    border-left: 0px solid transparent;
    border-right: 14px solid transparent;
    border-top: 10px solid orangered;
}

.dialogueMessage {
    color: white;
    margin: 0;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 10px;
}

.userQuery {
    background-color: deepskyblue;
}

.apiResponse {
    background-color: orangered;
}

input{
    box-sizing:border-box;
    padding: 1rem;
    font-size: 1.1rem;
    width: 100%;
}

input:focus{
    outline: none;
}